.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
img {
  max-width: 500px;
}
.profile{
  width: 300px;
  border-radius: 50%;
}
.main{
  display: flex;
  justify-content: space-between;
}
